<aside class="sidebar">
    <header>
      <div class="about">
        <div class="cover-author-image">
          <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
        </div>
        <div class="author-name">{{site.author}}</div>
        <p>{{site.about-author}}</p>
      </div>
      {% include connect-socialHandles.html %}
    </header> <!-- End Header -->
    <footer>

    </footer> <!-- End Footer -->
  </aside> <!-- End Sidebar -->